[submodule "frontend"]
	path = frontend
	url = git@github.com:Onto-Med/top-frontend.git
	branch = master
[submodule "parent"]
	path = parent
	url = git@github.com:KonradHoeffner/top-parent.git
	branch = master
